/* Universal Styles */

html {
	font-family: Helvetica, "oswald", sans-serif;
	font-size: 16px;
	margin: 0;
	width: 100%;
	height: auto;
}


.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.item-image {
	width: 35%;
	display: inline-block;
}

.item-column {
	width: 65%;
}

.bottom {
	background: #e5e8e5;
}

.mid .item-image,
.bottom .item-image {
	padding: 1rem;
}

.item-image img {
	width: 100%;
}

.item-column .item-title,
.item-column .item-description {
	padding-bottom: .5rem;
}

.item-title {
	font-size: 2rem;
	color: #383d3d;
}

.item-description {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.1;
	color: #767a7a;
}


/* Header Section */

header .header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 4rem;
	flex-direction: row;
	background-color: #fff;
	margin: 0;
}

header .logo-header-title {
	display: inline-flex;
	align-items: center;
	height: 2rem;
	margin-left: 2rem;
}

header .logo {
	display: inline-flex;
	align-items: center;
}

header .logo img {
	height: 3rem;
}

header .header-title {
	display: inline-flex;
	align-items: center;
}

header .header-title h2 {
	font-size: 2rem;
}

header .colmar { 
	color: #767a7a;
	font-style: italic;
}

header .academy {
	color: #383d3d;
}

.nav-mobile {
	display: none;
}

.nav-menu ul {
	display: inline-flex;
	margin-right: 2rem;
	align-items: center;
	list-style: none;
	flex-direction: row;
}

.nav-menu li {
	padding: 0;
}

.nav-menu a {
	font-size: 1.5rem;
	text-decoration: none;
	color: #767a7a;
	font-weight: 300;
}

@media only screen and (max-width: 480px) {
	.nav-mobile {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		height: 4rem;
		width: 100%;
	}

	header .header-content {
		display: none;
	}
}

/* Banner Section */

#jumbotron-banner {
	background-color: #e5e8e5;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0;
}

#jumbotron-banner-mobile {
	display: none;
}

.jumbotron {
	padding: 2rem 1.5rem;
	width: 60%;
	height: 60%;
}

.jumbotron img {
	height: 100%;
	width: 100%;
}

.banner {
	display: flex;
	flex-direction: column;
	width: 40%;
	font-family: "oswald";
}

.banner-big {
	font-size: 3.5rem;
	font-weight: bold;
	line-height: 1.3;
	color: #767a7a;
}


.banner-small {
	font-size: 2rem;
	font-weight: normal;
	line-height: 1.2;
	color: #383d3d;
}

.margin {
	margin-top: 2rem;
}

.button {
	display: inline-block;
	background-color: #767a7a;
	text-align: center;
	color: #fff;
	width: 60%;
	margin-top: 2rem;
	padding: .5rem  1.25rem;
	font-family: sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
}

@media only screen and (max-width: 480px) {
	#jumbotron-banner{
		display: none;
	}

	#jumbotron-banner-mobile {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: #e5e8e5;
		padding-bottom: 2rem;
	}

	#jumbotron-banner-mobile img {
		width: 100%;
		height: auto;
		padding-bottom: 2rem;
	}

	.banner-mobile {
		font-family: "oswald";
		padding: 0 1rem;
	}

	.banner-mobile .bigger {
		padding-bottom: 2rem;
		font-size: 3.5rem;
		font-weight: bold;
		color: #767a7a;
	}

	.banner-mobile .smaller {
		margin-bottom: 1.5rem;
		font-size: 2rem;
		line-height: 1.2;
		color: #383d3d;
	}

	.banner-mobile .button-mobile {
		display: inline-block;
		background-color: #767a7a;
		text-align: center;
		color: #fff;
		width: 100%;
		text-decoration: none;
		padding: 1rem 0;
		font-family: sans-serif;
		font-size: 1.5rem;
		font-weight: bold;
	}

}

/* feature Section */

#feature {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
}

#feature-mobile {
	display: none;
}

.feature-main {
	display: flex;
	flex-direction: column;
	padding: 2rem 1.5rem;
	width: 60%;
	background-color: #ccc;
}

.feature-main .main-image {
	padding-bottom: 1.5rem;
	width: 100%;
	height: auto;
}

.feature-main .main-title {
	padding-bottom: 1.5rem;
	font-family: "oswald";
	font-size: 3rem;
	font-weight: bold;
	color: #e5e8e5;
}

.feature-main .main-text {
	font-size: 1.5rem;
	color: #767a7a;
}


.feature-main .main-author {
	font-family: sans-serif;
	font-size: 1.3rem;
	padding: 2rem 0;
	color: purple;
}

.feature-other {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: auto;
	border-left: 2px solid #e5e8e5;
	border-right: 2px solid #e5e8e5;
	background-color: seashell;
}

.feature-other .top .item-image {
	padding: 2rem 1rem 1rem 1rem;
}

.feature-other .top {
	border-bottom: 6px double #e5e8e5;
}

.item-column .item-link {
	font-family: sans-serif;
	font-size: 1.2rem;
	text-decoration: none;
}

@media only screen and (max-width: 480px) {
	#feature-mobile {
		display: flex;
		flex-direction: column;
		background-color: seashell;
		width: 100%;
	}

	#feature {
		display: none;
	}

	.feature-main {
		display: none;
	}

	.feature-other {
		display: none;
	}

	.top-mobile {
		padding-top: 1rem;
	}

	.container-mobile {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.item-image-mobile {
		padding-bottom: 2rem;
	}

	.item-image-mobile img {
		width: 100%;
	}

	.item-column-mobile {
		padding-left: 1rem;
	}

	.item-column-mobile h3 {
		font-size: 2rem;
		color: #383d3d;
	}

	.item-column-mobile p {
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.1;
		color: #767a7a;
	}

	.item-column-mobile a {
		font-family: sans-serif;
		font-size: 1.2rem;
		text-decoration: none;
	}

	.item-column-mobile h3,
	.item-column-mobile p {
		padding-bottom: .5rem;
	}

	.mid-mobile,
	.bottom-mobile{
		padding-top: 4rem;
	}

	.bottom-mobile{
		padding-bottom: 2rem;
	}
}

/* Courses Section */

#courses {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e5e8e5;
	padding: 2rem 4.5rem;
}

#courses-mobile {
	display: none;
}

.introductory {
	padding-bottom: 2rem;
	font-family: "oswald";
	font-size: 3.5rem;
	font-weight: bold;
	opacity: .75;
}

.course-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.course {
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: #fff;
	margin-bottom: 2rem;
}

.middle {
	margin-left: 2rem;
	margin-right: 2rem;
}

.course-image {
	height: auto;
	width: auto;
}

.course-highlight {
	padding-left: 1rem;
}



.course-title {
	padding-top: 1rem;
	font-family: "oswald";
	font-size: 2rem;
	font-weight: bold;
	opacity: .75;
}

.course-header {
	font-family: helvetica;
	font-size: 1.5rem;
	line-height: 1.3;
	color: #767a7a;
}

.course-subjects {
	font-family: helvetica;
	font-size: 1.2rem;
	line-height: 1.3;
	color: #383d3d;
}

.course-title,
.course-header,
.course-subjects {
	padding-bottom: .5rem;
}

@media only screen and (max-width: 480px) {
	#courses-mobile {
		display: flex;
		flex-direction: column;
		width: 100%;
		border: 1px solid #000;
		padding-bottom: 2rem;
		font-family: "oswald";
		background-color: #e5e8e5;
	}

	#courses {
		display: none;
	}

	.introductory-mobile {
		padding-top: 2rem;
		padding-bottom: 1rem;
		text-align: center;
		font-size: 3.5rem;
		font-weight: bold;
		opacity: .75;
	}


	.course-list-mobile li { 
		padding: 1rem 1rem 1.5rem 1rem;
		list-style: none;
		color: #383d3d;
		background-color: #ccc;
		margin: .5rem;
		font-size: 1.5rem;
		font-weight: bold;
		opacity: .75;
	}
}

/* Thesis Exhibit Section */

#thesis-exhibit {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2rem 0 2rem 1.5rem;
	width: 100%;
}

#thesis-exhibit-mobile {
	display: none;
}

.thesis-row {
	display: flex;
	flex-direction: row;
}

.thesis-title {
	padding-bottom: 2rem;
	font-family: "oswald";
	font-size: 3.5rem;
	font-weight: bold;
	opacity: .75;
}

.thesis-title h2 {
	text-align: center;
}

.thesis-left {
	display: flex;
	flex-direction: column;
	padding-right: 1.5rem;
	width: 60%;
}

.thesis-video video {
	width: 100%;
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
}

.thesis-urban h3 {
	padding-bottom: .5rem;
	font-size: 2rem;
	font-weight: bold;
	color: #383d3d;
}

.thesis-urban p {
	font-size: 1.5rem;
	color: #767a7a;
	line-height: 1.4;
}

.thesis-right {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: auto;
}

@media only screen and (max-width: 480px) {
	#thesis-exhibit-mobile {
		display: inline-block;
		padding: 2rem 0 1rem 0;
		width: 100%;
		background-color: #fff;
	}

	#thesis-exhibit {
		display: none;
	}

	.thesis-title-mobile {
		padding-bottom: 1rem;
	}

	.thesis-title-mobile h2 {
		font-family: "oswald";
		font-size: 3.5rem;
		font-weight: bold;	
		text-align: center;
		opacity: .75;
	}

	.thesis-video-mobile {
		padding-bottom: 1.5rem;
	}	

	.thesis-video-mobile video {
		width: 100%;
	}
}

/* Footer Section */


#footer {
	padding: 1rem 0 2rem 1.5rem;
	border-top: 1px solid #e5e8e5;
	width: 100%;
	background-color: seashell;
	color: #383d3d;
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.terms-privacy ul {
	display: inline-flex;
	flex-direction: row;
	list-style: none;
}

.terms-privacy li {
	text-decoration: none;
}

.terms-privacy li:first-child {
	padding-right: .5rem;
}

@media only screen and (max-width: 480px) {
	.terms-privacy {
		display: none;
	}
}